<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Isso é um EJS</h1>

    
    <%#
        // Essa mensagem aparece no console do servidor
        console.log('Oi EJS!');
    %>

    <%#=
        'Teste'
    %>
    <%#=
        10
    %>

    <!-- <p>
        <%#=
            texto
        %>
    </p> -->

    <ul>
        <% listaNumerica.forEach(elemento => { %>
            <li><%= elemento %></li>
        <% }) %>
    </ul>
</body>
</html>